<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KEY_NUM0</key>
	<string>0x30</string>
	<key>KEY_NUM1</key>
	<string>0x31</string>
	<key>KEY_NUM2</key>
	<string>0x32</string>
	<key>KEY_NUM3</key>
	<string>0x33</string>
	<key>KEY_NUM4</key>
	<string>0x34</string>
	<key>KEY_NUM5</key>
	<string>0x35</string>
	<key>KEY_NUM6</key>
	<string>0x36</string>
	<key>KEY_NUM7</key>
	<string>0x37</string>
	<key>KEY_NUM8</key>
	<string>0x38</string>
	<key>KEY_NUM9</key>
	<string>0x39</string>
</dict>
</plist>
