<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Key_Category_Arrow.plist
   ISS

   Created by Digvijay Joshi on 5/26/16.
   Copyright (c) 2016 Digvijay Joshi. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>KEY_UP</key>
        <string>0x70</string>
        <key>KEY_DOWN</key>
        <string>0x71</string>
        <key>KEY_LEFT</key>
        <string>0x72</string>
        <key>KEY_RIGHT</key>
        <string>0x73</string>
    </dict>
</plist>
